.wrapper

  = render 'side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          GroupName
        %ul.left-header__members
          Member：
          %li.member
            1
          %li.member
            2
          %li.member
            3
          %li.member
            4
      .right-header
        .right-header__button
          Edit
    .messages
      .message
        .upper-message
          .upper-message__user-name
            1
          .upper-message__date
            0000/00/00
        .lower-meesage
          .lower-message__content
            hello
      .message
        .upper-message
          .upper-message__user-name
            2
          .upper-message__date
            0000/00/00
        .lower-meesage
          .lower-message__content
            hello2
      .message
        .upper-message
          .upper-message__user-name
            3
          .upper-message__date
            0000/00/00
        .lower-meesage
          .lower-message__content
            hello3
      .message
        .upper-message
          .upper-message__user-name
            4
          .upper-message__date
            0000/00/00
        .lower-meesage
          .lower-message__content
            首が長い
    .form
      %form
        %input.form__message
        .form__mask
          %label.form__mask__image
            = fa_icon 'picture-o', class: 'icon'
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: 'Send'}
        -# %label.upload-label{for: "upload-icon"}
        -#   %i.fa.fa-picture-o
        -#   = f.file_field :image, id: "upload-icon"